
<div class="wrapper detail-block initial-margin">
  <h2 class="text-center">Patient Progress</h2>
  <div class="container">
      <div class="row detail-block">
        <div *ngIf="patientDetails.username" class="col-sm-4">         
            <label class="modify-fonts margin-right">User name: </label>
            <label>{{patientDetails.username}}</label>
        </div>        
        <div class="col-sm-4">
            <label class="modify-fonts margin-right">First name: </label>
            <label>{{patientDetails.firstName}}</label>
        </div>
        <div class="col-sm-4">
            <label class="modify-fonts margin-right" >Last name: </label>
            <label>{{patientDetails.lastName}}</label>
        </div>
      </div>
      <div class="row detail-block">
          <div class="col-sm-4">         
              <label class="modify-fonts margin-right" >Gender: </label>
              <label>{{patientDetails.gender}}</label>
          </div>        
          <div class="col-sm-4">
              <label class="modify-fonts margin-right" >Contact number: </label>
              <label>{{patientDetails.contactNo}}</label>
          </div>
          <div class="col-sm-4">
              <label class="modify-fonts margin-right" >Treatement: </label>
              <label>{{patientDetails.injury}}</label>
          </div>
        </div>
    </div>
    <div class="container">
      <div class="row  detail-block">
        <div class="col-sm text-center">
            <button type="button" class="btn btn-info btn-round float-right" [disabled]="isShowProgress" (click)="showProgress()">View Progress</button>
            <button type="button" class="btn btn-info btn-round float-right" (click)="navigateToEditProgress()">Edit Required Progress</button>
        </div>
      </div>
    </div>
</div>
<div class="container detail-block">
    <div class="content table-responsive">
      <h3 class="text-center">Actual vs Required Table</h3>
        <table class="table table-hover table-striped">
              <thead>
                  <tr>
                      <th>Date</th>
                      <th>Required Movements</th>
                      <th>Achieved Movements</th>
                      <th>Required Time</th>
                      <th>Achieved Time</th>    
                  </tr>
              </thead>
              <tbody *ngIf="achievedResults">
                  <tr *ngFor="let achievedResult of achievedResults">                  
                      <td >{{achievedResult?.Date | date:'fullDate'}}</td>
                      <td>{{requiredResults[0].RequiredProgress[0].Movements}}</td>
                      <td >{{achievedResult.AchievedProgress[0].Movements}}</td>
                      <td>{{requiredResults[0].RequiredProgress[0].Time}}</td>
                      <td >{{achievedResult.AchievedProgress[0].Time}}</td>      
                  </tr>
              </tbody>
        </table>
    </div>
</div>
<div *ngIf="isShowProgress"class="chart-block detail-block">
    <h3 class="text-center">Actual vs Required Graph</h3>
  <div class="container">
      <canvas baseChart width="200" height="105"
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      [plugins]="lineChartPlugins"></canvas>
  </div>
</div>

