.modify-fonts{
    font-weight: 900 !important;
}
.margin-right {
    margin-right: 10px;
 }
 .detail-block {
     border: 2px;
     padding-top: 25px;
 }

 .initial-margin {
     margin-top: 100px;
 }