<div class="wrapper detail-block initial-margin">
    <h2 class="text-center">Chat</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="msg_history">
                  <div *ngFor="let chatItem of chat">
                      <div *ngIf="!chatItem.therapisttopatient" class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>{{chatItem.msg}}</p>
                            <span class="time_date">{{chatItem.Date | date:'shortTime'}} | {{chatItem.Date | date:'fullDate'}} </span></div>
                        </div>
                      </div>
                      <div *ngIf="chatItem.therapisttopatient"  class="outgoing_msg">
                        <div class="sent_msg">
                          <p>{{chatItem.msg}}</p>
                          <span class="time_date">{{chatItem.Date | date:'shortTime'}} | {{chatItem.Date | date:'fullDate'}}</span> </div>
                      </div>             
                  </div>              
                <div class="type_msg">
                  <div class="input_msg_write">
                    <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="chatValue" />
                    <button class="msg_send_btn" (click) = "sendChat()" type="button"><i class="fas fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </div>
              </div>
    </div>
</div>