
<div class="wrapper detail-block initial-margin">
  <h2 class="text-center">Patient Required Progress</h2>
  <div class="container">
      <div class="row detail-block">
        <div class="col-sm-6">         
            <label class="modify-fonts margin-right">Required Movement </label>
            <input class="form-control" type="number" [(ngModel)]="requiredProgress.RequiredProgress[0].Movements">
        </div>        
        <div class="col-sm-6">
          <label class="modify-fonts margin-right">Required Time </label>
          <input class="form-control" type="number" [(ngModel)]="requiredProgress.RequiredProgress[0].Time">
        </div>
      </div>
      <div class="row detail-block">
          <div class="col-sm-12">         
              <label class="modify-fonts margin-right" >Treatement Template: </label>
              <select class="form-control" id="exampleFormControlSelect2" (change)="onChange($event.target.value)">
                <option *ngFor="let item of allCourses" [value]= "item._id">{{item.TreatmentName}}</option>
              </select>
          </div>          
        </div>
    </div>
    <div class="container">
      <div class="row  detail-block">
        <div class="col-sm text-center">
            <button type="button" class="btn btn-info btn-round float-right" (click)="saveRequiredProgress()">Save Required Progress</button>
        </div>
      </div>
    </div>
</div>