<div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
                <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
                </div>
                <div class="container">
                   
                    <div class="content-center">
                            <h2>Hello {{currentUser.lname}}, you have</h2>
                        <div class="lcontent">
                            <div class="social-description">
                                <h2>26</h2>
                                <p>Patient Logins</p>
                            </div>
                            <div class="social-description">
                                <h2>26</h2>
                                <p>New Messages</p>
                            </div>
                            <div class="social-description">
                                <h2>48</h2>
                                <p>Due Assignments</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary" (click)="logout();">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Logout
                </button>
            </div>
    <div class="section section-about-us">
        <div class="container">
                <!-- <p class="category">Tabs with Background on Card</p> -->
                      
                <div class="card">
                 <div class="nav-tabs-navigation" data-tabs-color="orange">
                     <div class="nav-tabs-wrapper">
                         <ngb-tabset [justify]="'center'" class="text-center" >
                             
                             <ngb-tab title="Clients">
                               <ng-template ngbTabContent>
                                    <div class="content table-responsive table-full-width">
                                            <table class="table table-hover table-striped">
                                                  <thead>
                                                      <tr>
                                                          <th>First Name</th>
                                                          <th>Last Name</th>
                                                          <th>User Name</th>
                                                          <th>Injury</th>
                                                          <th>Check in</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr *ngFor="let pat of pats"  >
                                                      
                                                          <td *ngIf="pat.approved==='false'" >{{pat.firstName}}</td>
                                                          <td *ngIf="pat.approved==='false'">{{pat.lastName}}</td>
                                                          <td *ngIf="pat.approved==='false'">{{pat.username}}</td>
                                                          <td *ngIf="pat.approved==='false'">{{pat.injury}}</td>
                                                          <td *ngIf="pat.approved==='false'"><button type="button" class="btn btn-success btn-round" (click)="approved(pat._id);">Approve</button><button type="button" class="btn btn-danger btn-round" (click)="declined(pat._id);">Decline</button></td>
                                                        
                                                      </tr>
                                                  </tbody>
                                            </table>
                                      </div>
                    
                                    <!-- <div class="card"> -->
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                                <input type="text" class="form-control" placeholder="Search" (focus)="focus1=true" (blur)="focus1=false">
                                                <div class="input-group-append">
                                                  <span class="input-group-text">
                                                      <i class="now-ui-icons users_single-02"></i>
                                                  </span>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="header">
                                                <h4 class="title">Striped Table with Hover</h4>
                                                <!-- <p class="category">Here is a subtitle for this table</p> -->
                                            <div class="content table-responsive table-full-width">
                                                  <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Last Name</th>
                                                                <th>Contact Number</th>
                                                                <th>Injury</th>
                                                                <th>Progress</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let pat of pats"  >
                                                            
                                                                <td *ngIf="pat.approved==='true'" >{{pat.firstName}}</td>
                                                                <td *ngIf="pat.approved==='true'">{{pat.lastName}}</td>
                                                                <td *ngIf="pat.approved==='true'">{{pat.contactNo}}</td>
                                                                <td *ngIf="pat.approved==='true'">{{pat.injury}}</td>
                                                                <td *ngIf="pat.approved==='true'"><button type="button" class="btn btn-info btn-round" (click)="navigateToPatientProgress(pat._id)">View Progress</button></td>
                                                              
                                                            </tr>
                                                        </tbody>
                                                  </table>
                                            </div>
                                                
                                            </div>
                                        <!-- </div> -->
                               </ng-template>
                             </ngb-tab>

                             <ngb-tab title="Exercises">
                                    <ng-template ngbTabContent>
                                            <div class="content table-responsive table-full-width">
                                                    <table class="table table-hover table-striped">
                                                          <thead>
                                                              <tr>
                                                                  <th>Exercise Name</th>
                                                                  <th>Description</th>
                                                                  <th>Video Games</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody>
                                                              <tr *ngFor="let injury of injurys"  >
                                                              
                                                                  <td>{{injury.TreatmentName}}</td>
                                                                  <td >{{injury.Description}}</td>
                                                                  <td>{{injury.VideoGames}}</td> 
                                                              </tr>
                                                          </tbody>
                                                    </table>
                                            </div>
                                   </ng-template>
                            </ngb-tab>

                             <ngb-tab title="Courses">
                               <ng-template ngbTabContent>
                                   <h5>Defined Courses</h5>
                                   <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped">
                                              <thead>
                                                  <tr>
                                                      <th>Treatment Name</th>
                                                      <th>Movements</th>
                                                      <th>Time</th>
                                                      <th>Delete</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr *ngFor="let course of courses"  >
                                                  
                                                      <td>{{course.TreatmentName}}</td>
                                                      <td>{{course.Movements}}</td>
                                                      <td>{{course.Time}}</td> 
                                                      <td><button type="button" class="btn btn-danger btn-round" (click)="deletecourse(course._id);">Delete</button></td>
                                                  </tr>
                                              </tbody>
                                        </table>
                                </div>
                                    <hr>
                                   <h5>Set your pre defined courses</h5>
                                   <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label for="treatment">Select the treatment</label>
                        
                                        <select (change)="onChange($event.target.value)" formControlName="TreatmentName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.TreatmentName.errors }">
                                            <option *ngFor="let injury of injurys" [value]="injury.TreatmentName">{{injury.TreatmentName}}</option>
                                          </select>
                                        <div *ngIf="submitted && f.TreatmentName.errors" class="invalid-feedback">
                                            <div *ngIf="f.TreatmentName.errors.required">Treatment is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Movements">Number of Required Movements</label>
                                        <input type="text" formControlName="Movements" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Movements.errors }" />
                                        <div *ngIf="submitted && f.Movements.errors" class="invalid-feedback">
                                            <div *ngIf="f.Movements.errors.required">Enter the number of movements</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Time">Engaging time period</label>
                                        <input type="text" formControlName="Time" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Time.errors }" />
                                        <div *ngIf="submitted && f.Time.errors" class="invalid-feedback">
                                            <div *ngIf="f.Time.errors.required">Enter the number of times</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button [disabled]="loading" class="btn btn-success">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            Create
                                        </button>
                                    </div>
                                </form>
                                </ng-template>
                             </ngb-tab>
                             <ngb-tab title="Chat"> 
                                 <ng-template ngbTabContent>                                         
                                        <table class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>User Name</th>
                                                        <th>Full Name</th>                                                     
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="hover-color" *ngFor="let patient of pats" (click)="navigateToPatientChat(patient)">                                                    
                                                        <td >{{patient.username}}</td>
                                                        <td>{{patient.firstName}} {{patient.lastName}}</td>                                                                                                                                                                 
                                                    </tr>
                                                </tbody>
                                          </table>
                                 </ng-template>
                             </ngb-tab>
                         </ngb-tabset>
                     </div>
                 </div>
               </div>
        </div>
    </div>
    <!-- <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Romina Hadid</h4>
                            <p class="category text-primary">Model</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ryan Tompson</h4>
                            <p class="category text-primary">Designer</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Eva Jenner</h4>
                            <p class="category text-primary">Fashion</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Want to work with us?</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
