
<div class="page-header " filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <!-- <div class="section"> -->
    <div class="container ">
        <div></div>
        <div class="col-md-6 content-center">
            <div class="card card-login card-plain">

                <h2>Register</h2>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" formControlName="fname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" />
                        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                            <div *ngIf="f.fname.errors.required">First Name is required</div>
                            <div *ngIf="f.fname.errors.pattern">Enter a real name</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" formControlName="lname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" />
                        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                            <div *ngIf="f.lname.errors.required">Last Name is required</div>
                            <div *ngIf="f.lname.errors.pattern">Enter a real name</div>
                
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Gender</label>
                        <div>
                        <input type="radio" formControlName="gender" value="Male" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" /> Male
                        <input type="radio" formControlName="gender" value="Female" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" /> Female
                    </div>
                        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                            <div *ngIf="f.gender.errors.required">Please Select your gender</div>
                        </div>
                    </div>
                
                   
                    <div class="form-group">
                        <label for="contactNo">Contact number</label>
                        <input type="text" formControlName="contactNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contactNo.errors }" />
                        <div *ngIf="submitted && f.contactNo.errors" class="invalid-feedback">
                            <div *ngIf="f.contactNo.errors.required">Contact number is required</div>
                            <div *ngIf="f.contactNo.errors.required">Contact number is invalid</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Email is required</div>
                            <div *ngIf="f.username.errors.email">Correct Email</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>

                   
                    
                
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Register
                        </button>
                        <button [disabled]="loading" class="btn btn-danger" (click)="btnClick();">
                               Cancel
                            </button>
                    </div>
                </form>
                     
                
            </div>
        </div>
    <!-- </div> -->
    </div>
    
</div>